header{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

img{
  width: 325px;
  height: 325px;
}

section{
  margin: auto;
  padding-top: 35px;
}

.hidden{
  visibility: hidden;
}

.winnerOne{
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
   transform: rotateZ(-30deg);
}

.winnerTwo{
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
   transform: rotateZ(30deg);
}

button{
  margin: 2px, auto;
  text-align: center;
  width: 200px;
  height: 100px;
  font-size: 24px;
}

footer{
  text-align: center;
}

